{% load i18n %}
{% load url from future %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Le styles -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .lang_active {
        color: #51a351 !important;
        font-weight:bold;
      }
      #set_lang input[type="submit"] {
        border: none;
        background: none;
        display: block;
        color: #999;
      }
      #set_lang form {
        padding: 10px;
        margin: 0px;
        height: 20px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{% url 'home' %}">{% trans "Django solid i18n urls example" %}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
              <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
              <li><a href="{% url 'onelang' %}">{% trans "Link without i18n" %}</a></li>
            </ul>
            {% block lang_choose %}
            <ul id="set_lang" class="nav pull-right">
                {% if LANGUAGE_CODE == 'en' %}
                  <li>
                    <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path}}" />
                    <input name="language" type="hidden" value="en" />
                    <input type="submit" class="lang_active" value="EN" />
                    </form>
                  </li>
                  <li>
                    <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="/ru{{request.get_full_path}}" />
                    <input name="language" type="hidden" value="ru" />
                    <input type="submit" value="RU" />
                    </form>
                  </li>
                {% else %}
                  <li>
                    <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path|slice:'3:'}}" />
                    <input name="language" type="hidden" value="en" />
                    <input type="submit" value="EN" />
                    </form>
                  </li>

                  <li>
                    <form action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{request.get_full_path}}" />
                    <input name="language" type="hidden" value="ru" />
                    <input type="submit" class="lang_active" value="RU" />
                    </form>
                  </li>
                {% endif %}
              </ul>
            {% endblock lang_choose %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% block content %}{% endblock content %}

    </div> <!-- /container -->

  </body>
</html>
